# Backend Environment Variables
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority
REDIS_URL=redis://default:<password>@<host>:<port>
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development
FRONTEND_URL=https://lookrooms.vercel.app

# Frontend Environment Variables (prefixed with VITE_)
VITE_API_URL=https://lookrooms.up.railway.app/api/v1
VITE_BACKEND_URL=https://lookrooms.up.railway.app
